<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SazonForaneo"
        tools:targetApi="31">

        <activity
            android:name=".DetalleReceta"
            android:exported="false" />
        <activity
            android:name=".AgregarImagenFuente"
            android:exported="false" />
        <activity
            android:name=".AgregarInstrucciones"
            android:exported="false" />
        <activity
            android:name=".AgregarIngredientes"
            android:exported="false" />
        <activity
            android:name=".AgregarVisibilidad"
            android:exported="false" />
        <activity
            android:name=".AgregarNombreDescripcion"
            android:exported="false" />
        <activity
            android:name=".recetas_guardadas_activity"
            android:exported="false" />
        <activity
            android:name=".editar_informacion_perfil_activity"
            android:exported="false" />
        <activity
            android:name=".PerfilConfigActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InicioActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <activity
            android:name=".RecuperarPasswordActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".CategoriasActivity"
            android:exported="false" />
    </application>

</manifest>